*.suo
Thumbs.db
*.exe
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
*.cachefile
*.*~
*.~*
*.out
*.o
*.sdf
*.opensdf
ipch/
!Data/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
!Libraries/
!lib/*
!lib/win32/freeglut260/[Dd]ebug/
!lib/win32/freeglut260/[Rr]elease/
.parasoft.dat/
.parasoft
.cpptest/
*.vsp
*.kdev4
