Game Engine Requirements:

-- Engine Configuration --
* XML Configuration file (global engine properties and scene description, inc objects, lights, etc). rapidxml?
* Alternative: Plain text file, with Action: ObjectName { Configuration (multi-line) },
e.g. AddModel: Sphere
				{
					Position=(1,2,3)
					Radius=2
				}
				
-- Memory --
* Memory manager (double ended stack allocator, pool allocator)

-- Resources --
* Resource manager (synchronous) with callback function support.
* Load OBJ files (and materials)
* md5 model loader
* Load textures (stb_image) through Resource manager
* Load audio (FMOD or OpenAL) through Resource manager (Audio Playback)
* Load data from zip files (zlib?)
* Ability to cook models to produce own format that can be quickly loaded into the engine

-- Rendering --
* Render target support and Multiple Render Target support (for deferred rendering)
* Ability to save render target (essentially a screenshot)
* Deferred Rendering
* Shadows (Variance Shadow Maps, Cascaded Shadow Maps, Other?)
* Normal mapping (with correct tangent calculations)
* Screen Space Ambient Occlusion (SSAO)
* md5 animation player (GPU skinning)

-- Misc --
* Event system
* Proper 3D FPS camera, WASDQR for movement, mouse to change direction (Only when mouse button held down though)